<template>
  <div class="hello">
    <h1>Onboarding</h1>
    <div v-if="initialized">Du bist schon registriert</div>

    <div v-else>
      <div>
        OnboardingId:
        <input :value="id" placeholder="your onboarding id" type="text" />
        <br />
      </div>
    </div>
    <button @click="call_onboarding">toggle</button>
    <span></span>
  </div>
</template>

<script lang="ts">
export default {
  data () {
    return {
      id: '', nn: "",
      initialized: false
    }
  },
  mounted () {
    this.id = this.$route.query.id
  },
  methods: {
    call_onboarding () {
      this.initialized = !this.initialized
    }
  }
}
</script>
