<template>
  email: <input type="email" v-model="content.email"><br/>
  Vorname: <input type="text" v-model="content.first_name"><br/>
  Nachname: <input type="text" v-model="content.last_name"><br/>
  <button @click="save">Save</button>
</template>

<script>
export default {
  name: "AddUser",
  data () {
    return {
      content:
        {
          email: null,
          last_name: null,
          first_name: null,
        },
    }
  },
  methods: {
    save() {
      console.log("Saving:" + JSON.stringify(this.content))
    }
  }
}
</script>

