<template>
  <h1>Users</h1>
  <table>
    <thead>
     <th>eMail</th><th>Name</th><th>Status</th>
    </thead>
    <tbody>
     <tr v-for="user in content" :key="user.id">
       <td>{{ user.email }}</td><td>{{ user.first_name }} {{ user.last_name }}</td>
       <td>
         <div v-if="user.sub">ONLINE</div>
         <div v-else-if="user.onboarding">
           Onboarding<br/>
           (started: {{ user.onboarding.started}}, expires: {{user.onboarding.expires}})
         </div>
         <div v-else>Invite</div>
       </td>
     </tr>
    </tbody>
  </table>
  <router-link to="/admin/users/add" >Add</router-link>
</template>

<script>

export default {
  name: "Users",
  data () {
    return {
      content: [
        { id:12341234, email: 'hans@one.de', last_name:'Muster', first_name:'Eva', onboarding:
            { id: 123412341234,
              started: '2022-02-26T12:12:12Z',
              expires:  '2022-02-26T14:12:12Z',
            }
        },
        { id:65464, email: 'otto@one.de', last_name:'Schlemmer', first_name:'Horts', sub:"23412341234"
        },
        { id:987, email: 'new@one.de'
        },
      ]
    }
  }
}
</script>
